/* footer */

footer {
	/* background-color: var(--footer-bg); */
	background-color: #f7f7f7;
	/* border-top: 1px solid var(--footer-border); */
	border-top: 1px solid #dddddd;
	position: relative;
	z-index: 999;
}
footer h2 {
	text-transform: uppercase;
	font-size: 1.35rem;
	/* color: var(--text-color); */
	color: rgb(27, 27, 27);
}
footer ul {
	list-style: none;
}
footer ul li a {
	text-decoration: none;
	line-height: 2.5;
	font-size: 1.28rem;
	/* color: var(--body-color); */
	color: #484848;
	transition: all ease-in 0.3s;
}
footer .social__icons svg {
	width: 25px;
	height: 25px;
	object-fit: contain;
	vertical-align: baseline;
}
footer .social__icons svg path {
	/* color: var(--body-color); */
	color: #484848;
}
footer ul li a:hover {
	text-decoration: underline;
}
footer .row:nth-of-type(1) {
	padding-bottom: 4rem;
}
footer .row:nth-of-type(2) {
	/* border-top: 1px solid var(--footer-border); */
	border-top: 1px solid #dddddd;
	padding-top: 3rem;
}
footer .row:nth-of-type(2) .col6:nth-of-type(1) {
	flex: 2;
}
footer .row:nth-of-type(2) .col6:nth-of-type(2) {
	flex: 1;
}
footer .copyright__text p {
	font-size: 1.5rem;
}
footer .social__icons {
	text-align: right;
}
footer .social__icons ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
footer .social__icons ul li {
	padding: 0 1.6rem;
}
/* footer */
