/* Explore Page */

.margin__top {
	margin-top: 8rem;
}
.explore .btn {
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}
.explore iframe {
	height: 100vh;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	right: 0;
	bottom: 0;
}
.explore .explore__cards {
	padding: 5rem 1.5rem;
}
.explore .explore__cards p {
	font-size: 1.7rem;
	/* color: var(--text-color); */
	color: rgb(27, 27, 27);
}
.explore .explore__cards h2 {
	font-size: 3.8rem;
	/* color: var(--text-color); */
	color: rgb(27, 27, 27);
	margin-bottom: 1rem;
}
.explore .explore_card__header .place__name,
.explore .popular__places__header .place__name {
	flex: 2;
}
.explore .show__more {
	flex: 2;
}
.explore .explore__card,
.explore .explore__cards .explore_card__header {
	margin: 1.6rem 0;
}
.explore .explore__cards .explore_card__header:not(:nth-of-type(2)) {
	margin-top: 3rem;
}
.explore .explore__cards .explore_card__header .place__name,
.explore .popular__places__header .place__name {
	flex: 2;
}
.explore .explore__cards .explore_card__header .place__name h3,
.explore .popular__places__header .place__name h3 {
	font-size: 2.4rem;
	font-weight: 400;
	/* color: var(--text-color); */
	color: rgb(27, 27, 27);
}
.explore .explore__cards .explore_card__header .show__more,
.explore .popular__places__header .show__more {
	flex: 1;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	transition: all ease-in 0.3s;
}
.explore .explore__cards .explore_card__header .show__more a,
.explore .explore__cards .explore_card__header .show__more i,
.explore .popular__places__header .show__more a,
.explore .popular__places__header .show__more i {
	padding: 0 0.6rem;
	/* color: var(--text-color); */
	color: rgb(27, 27, 27);
	cursor: pointer;
}
.explore .explore__cards .explore_card__header .show__more a,
.explore .popular__places__header .show__more a {
	font-size: 1.8rem;
}

.explore .explore__cards .explore_card__header .show__more i,
.explore .popular__places__header .show__more i {
	font-size: 2.8rem;
	/* color: var(--grey); */
	color: rgb(71, 71, 71);
	transition: all ease-in 0.2s;
}
.explore .explore__cards .explore_card__header .show__more svg,
.explore .popular__places__header .show__more svg {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding: 0 0.4rem;
	transition: all ease-in 0.2s;
}
.explore .explore__cards .explore_card__header .show__more svg path,
.explore .popular__places__header .show__more svg path {
	/* color: var(--grey); */
	color: rgb(71, 71, 71);
}
.explore .explore__cards .explore_card__header .show__more i:hover,
.explore .explore__cards .explore_card__header .show__more svg:hover,
.explore .popular__places__header .show__more svg:hover,
.explore .popular__places__header .show__more i:hover {
	transform: scale(1.05);
	cursor: pointer;
}
.explore .explore__card .col4 {
	padding: 0 1rem;
	margin-bottom: 1rem;
}
.explore .explore__card .card__img {
	position: relative;
}
.explore .explore__card .card__img:hover {
	cursor: pointer;
}
.explore .explore__card .card__img img {
	border-radius: 1.2rem;
	width: 100%;
	object-fit: contain;
}
.explore .explore__card .card__img i.fa-heart,
.explore .explore__card .card__img svg.fa-heart {
	font-size: 2rem;
	position: absolute;
	right: 0.6rem;
	top: 0.6rem;
	z-index: 4;
	/* color: var(--white); */
	color: #ffffff;
	cursor: pointer;
	width: 20px;
	height: 20px;
}
.explore .explore__card .card__img .left__icon {
	position: absolute;
	top: 50%;
	left: -0.5rem;
	transform: translateY(-50%);
	font-size: 2.6rem;
	cursor: pointer;
	transition: all ease-in 0.3s;
	display: none;
	width: 28px;
	height: 28px;
}
.explore .explore__card .card__img .right__icon {
	position: absolute;
	top: 50%;
	right: -0.5rem;
	transform: translateY(-50%);
	font-size: 2.6rem;
	cursor: pointer;
	transition: all ease-in 0.3s;
	display: none;
	width: 28px;
	height: 28px;
}
.explore .explore__card .card__img:hover .left__icon,
.explore .explore__card .card__img:hover .right__icon {
	display: block;
	cursor: pointer;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
	/* color: var(--white); */
	color: #ffffff;
}
.explore .explore__card .card__img:hover .left__icon {
	left: 0.5rem;
}
.explore .explore__card .card__img:hover .right__icon {
	right: 0.5rem;
}
.explore .explore__card .card__img .left__icon:active,
.explore .explore__card .card__img .right__icon:active,
.explore .explore__cards .row:nth-of-type(2) .show__more i:active {
	transform: translateY(1px);
}
.explore .explore__card .card__img button {
	position: absolute;
	left: 0.6rem;
	top: 0.6rem;
	margin: 0;
	text-transform: uppercase;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
	/* background-color: var(--white); */
	background-color: #ffffff;
	font-size: 1.2rem;
	font-weight: bold;
	z-index: 4;
}
.explore .explore__card .card__details .ratings,
.explore .explore__card .card__details .price {
	font-size: 1.4rem;
	margin: 0.3rem 0;
}
.explore .explore__card .card__details .price svg {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.explore .explore__card .card__details .price svg path {
	color: var(--black);
}
.explore .explore__card .card__details .location {
	font-size: 1.6rem;
	margin: 0.3rem 0;
}
.explore .explore__card .card__details .location p:nth-of-type(n + 2) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.explore .explore__card .card__details .ratings i,
.explore .explore__card .card__details .ratings svg {
	color: #ff385c;
	width: 15px;
	height: 15px;
	vertical-align: middle;
}
.explore .explore__card .card__details .ratings span {
	/* color: var(--grey); */
	color: rgb(71, 71, 71);
}
.explore .explore__card .card__details .price strong {
	/* color: var(--text-color); */
	color: rgb(27, 27, 27);
}
.explore .popular__places {
	margin-top: 1.6rem;
}
.explore .popular__places .col4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1.5rem;
	cursor: pointer;
}
.explore .popular__places .col4 img {
	height: 80px;
	width: 80px;
	border-radius: 1.2rem;
}
.explore .popular__places .col4 h3 {
	padding-left: 1rem;
	font-size: 1.6rem;
	font-weight: normal;
	/* color: var(--text-color); */
	color: rgb(27, 27, 27);
}
/* Explore Page */
